#app {
  font-family: sans-serif;
}

#banner-main {
  width: 100%;
  height: 50px;
  background-color: red;
}

/* Material Design */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-fix-24 { 
  font-size: 24px;
  line-height: 24px;
  vertical-align: middle;
}

.mainBody {
  min-height: 94vh;
  background-color:#f7f7f7;
  margin-top: 14px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 15%;
  margin-right: 15%;
}

.event {
  height: 240px;
  background-color:#e6e6e6;
  padding-left: 30px;
  margin-bottom: 20px;
  margin-left: 70px;
  margin-right: 70px;
  border-radius: 10px;
}

.eventpic {
  width: 350px;
  padding-top: 22px;
  float: left;
}

.eventdata {
  float: left;
  padding-top: 20px;
  margin-left: 20px;
}

.eventtitle {
  font-weight: 700;
  font-size: 40px;
}

.eventbook {
  float: right;
  padding-top: 150px;
  padding-right: 90px;
}

.property {
  height: 160px;
  background-color:#e6e6e6;
  padding-left: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.propertypic {
  width: 120px;
  padding-top: 22px;
  float: left;
}

.propertydata {
  float: left;
  padding-top: 15px;
  margin-left: 20px;
}

.propertiestitle {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 10px;
}

.propertytitle {
  font-weight: 700;
  font-size: 24px;
}

.propertybook {
  padding-right: 80px;
}

.propertystar {
  float: left;
  font-size: 26px;
  color: rgb(236, 201, 0);
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.propertyscore {
  margin-top: 30px;
  margin-right: 40px;
  height: 60px;;
  width: 130px;
}

.propertyreviewnumber {
  float: left;
  margin: 3px;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 12px;
}

.propertylist {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 100px;
}

.propertylistitem {
  width: 300px;
  height: 25px;
}

.propertyPrice {
  font-size: 42px;
  font-weight: 700;
  color: #007bff;
  float: right;
  width: 180px;
  height: 170px;
  line-height: 200px;
}
